.table-cards {
  width: 1440px;
  height: 100vh;
  margin: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item + &__item {
    margin-left: 18px;
  }

  &__item:nth-child(2) .price-card__icon {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
  }
  &__item:nth-child(3) .price-card__icon {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
  }

  &__item:nth-child(2) .price-card__caption_hidden {
    display: block;
  }

  &__item:nth-child(2) .price-card__price,
  &__item:nth-child(2) .price-card__button {
    background-color: $color-blue;
  }
  &__item:nth-child(3) .price-card__price,
  &__item:nth-child(3) .price-card__button {
    background-color: $color-orange;
  }
}
