// Параметры

// Цвет текста

$text-color-white: #fff;

// Цветa

$color-dark-blue: #1f3d63;
$color-dark-grey: #2a3438;
$color-blue: #3a6ba5;
$color-green: #5bb189;
$color-orange: #ec632a;
$color-grey: #334247;
$color-dark: #141b1c;
$color-red: #dc3f45;

// Шрифты
$sans-serif: "Montserrat", sans-serif;

//Начертание шрифта
$weight-bold: 700;
$weight-regular: 400;
$weight-light: 300;
